@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

h1 {
    color: black;
    text-align: center;
    text-transform: uppercase; 
    font-size: 3rem; 
    letter-spacing: 2px;
    margin-top: 30px; 
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2); 


}

#pokemon-cards {

    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.card {
    background-color: rgba(253,253,253, 0.9);
    border-radius: 20px;
    margin: 20px 10px;
    border: 4px solid black;
    padding: 5px 10px;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    transition: transform 0.2s ease, box-shadow 0.1s ease; 
}

.card img{
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#title {

}

#title-section {

    text-transform: uppercase;

}

.container {
    display: flex;
    padding: 0% 2%;
    justify-content: center; 
    max-width: 1200px; 
    margin: 0 auto; 
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff3b30, #ffd700);
}


#pokemon-cards, #pokemon-detail-view {
    opacity: 1;
    overflow: hidden;
    transition: opacity 1s ease;
}

#pokemon-cards.hidden, #pokemon-detail-view.hidden {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}
